/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* struttura */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #d9dcd5;
    z-index: 1;
}

.barra-sfondo {
    width: 100vw;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #009788;
    z-index: -1;

}

.wrapper {
    width: 80%;
    min-width: 1200px;
    height: calc(100vh - 40px);
}

/* comuni */
body {
    font-family: 'Montserrat', sans-serif;
}

.text-regular {
    font-size: 14px;
    font-weight: 500;
}

.text-small {
    font-size: 11px;
}

/* --inizio header-- */
header {
    height: 70px;
    display: flex;
}

.header-left {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
}

.header-left > .profile-img {
    height: 75%;
    margin-left: 15px;
}

.header-left > .profile-img > img {
    height: 100%;
    border-radius: 50%;
}

.header-left > .icons-box {
    color: #b1b1b1;
    font-size: 24px;
}

.header-left > .icons-box > i {
    margin-right: 20px;
}

.header-right {
    width: 67%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.chat-profile {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-right .chat-img {
    height: 75%;
    margin-left: 15px;
    margin-right: 10px;
}

.header-right .chat-img > img {
    height: 100%;
    border-radius: 50%;
}

.header-right .icons-box {
    color: #b1b1b1;
    font-size: 24px;
}

.header-right .icons-box > i {
    margin-right: 20px;
}
/* --fine header-- */
.main-box {
    height: calc(100vh - 110px);
    display: flex;

}

/* --inizio aside-- */

aside {
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* area notifica */

.notifiche {
    height: 80px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: #8edafc;
}

.notifiche > .notifica-off {
    margin-left: 15px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
    background-color: white;
    color: #8edafc;
}

/* fine area notifica */

/* inizio area search */
.search-bar {
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.search-bar > #search {
    margin-left: 15px;
    padding: 4px 10px;
    background-color: white;
    color: #b8bbc0;
}

.search-bar input {
    width: 75%;
    height: 26px;

    border: none;
}
/* fine area search */
.friends-box {
    overflow-y: scroll;
}

.friend {
    height: 80px;
    display: flex;
    align-items: center;
}

.friend:hover {
    background-color: #e9ebea;
}

.friend > .friend-img {
    height: 75%;
    margin: 0 15px;

}

.friend-img img {
    height: 100%;
    border-radius: 50%;
}

.friend-right {
    width: 100%;
}

.friend-name-time {
    display: flex;
    justify-content: space-between;
}

.friend-right .friend-time {
    margin-right: 10px;
}

/* --fine aside-- */

/* --inizio main-- */

main {
    width: 67%;
    background-color: pink;
}
/* inizio chat area */
.chat-area {
    height: calc(100% - 70px);
    overflow-y: scroll;
    background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/51439hd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.chat-area-margin {
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.friend-chat-container {
    display: flex;
}

.bubble {
    min-width: 100px;
    min-height: 40px;
    margin: 2px 0;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

.friend-chat {
    margin-left: 100px;
    background-color: white;
}

.my-chat {
    margin-right: 100px;
    background-color: #d5f9bb;
}

.chat-time {
    text-align: right;
}
/* template */

.my-chat-container,
.friend-chat-container {
    display: none;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-left {
    display: flex;
}

/* fine chat area */

/* inizio chat input */
.chat-box {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f0ec;
    font-size: 24px;
    color: #6b7076;
}

.chat-box > #chat-type {
    width: 85%;
    height: 50px;
    padding: 0 10px;
    border: none;
}

.chat-box > #smile {
    margin-left: 20px;
}

.chat-box > #send {
    margin-right: 20px;
}

/* fine chat input */
