/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* contenitori */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9dcd5;
}

.wrapper {
    width: 80%;
    min-width: 1200px;
    height: calc(100vh - 40px);
    background-color: green;
}

/* inizio header */
header {
    height: 70px;
    display: flex;
    background-color: aqua;
}

.header-left {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
}

.header-left > .profile-img {
    height: 90%;
}

.header-left > .profile-img > img {
    height: 100%;
    border-radius: 50%;
}

.header-right {
    width: 67%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.chat-profile {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-right .chat-img {
    height: 90%;
}

.header-right .chat-img > img {
    height: 100%;
    border-radius: 50%;
}

/* fine header */
.main-box {
    height: calc(100vh - 110px);
    display: flex;

}

/* inizio aside */

aside {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.notifiche {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.notifiche > .notifica-off {
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
    color: #8edafc;
}

.search-bar {
    display: flex;
}

.search-bar > #search {
    background-color: white;
    padding: 5px 10px;
    color: #b8bbc0;
}

.search-bar input {
    width: 100%;
    border: none;
}

.users-box {
    height: 100%;
    overflow-y: scroll;
    background-color: gray;
}

/* fine aside */

/* inizio main */

main {
    width: 67%;
    background-color: pink;
}

.chat-area {
    height: calc(100% - 70px);
    overflow-y: scroll;
    background-color: magenta;
}

.chat-box {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.chat-box > #chat-type {
    width: 90%;
    height: 50px;
}
