/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* contenitori */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.wrapper {
    width: 80%;
    min-width: 1200px;
    height: calc(100vh - 40px);
    background-color: green;
}

/* inizio header */
header {
    height: 70px;
    display: flex;
    background-color: aqua;
}

.header-left {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: tomato;
}

.header-left > .profile-img > img {
    height: 90%;
    border-radius: 50%;
}

.header-right {
    width: 67%;
    height: 100%;
    background-color: lightblue;
}

/* fine header */
.main-box {
    height: calc(100vh - 110px);
    display: flex;

}

aside {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
}

.notifiche {
    height: 80px;
    background-color: red;
}

.search input {
    width: 80%;
}

.users-box {
    height: 100%;
    overflow-y: scroll;
    background-color: gray;
}

main {
    width: 67%;
    background-color: pink;
}

.chat-area {
    height: calc(100% - 70px);
    overflow-y: scroll;
    background-color: magenta;
}

.chat-box {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
